[submodule "algorithms"]
	path = algorithms
	url = https://github.com/sagsango/algorithms.git
[submodule "data-structure"]
	path = data-structure
	url = https://github.com/sagsango/data-structure.git
[submodule "google-coding-competitions-archive"]
	path = google-coding-competitions-archive
	url = https://github.com/sagsango/google-coding-competitions-archive.git
[submodule "ac-library"]
	path = ac-library
	url = https://github.com/sagsango/ac-library.git
